include layout/utils

-
    var delivery = [
        {
            title: 'Курьером',
            description: 'Доставка по г. Казань',
            time: 'сегодня, от 250 ₽'
        },
        {
            title: 'Самовывоз',
            description: 'г. Казань, Щёлковское шоссе, 3с1, офис 510',
            time: 'сегодня, со склада'
        },
        {
            title: 'СДЭК',
            description: '',
            time: '2–3 дня, от 250 ₽'
        },
        {
            title: 'Деловые линии',
            description: '',
            time: '2–3 дня, от 250 ₽'
        },
        {
            title: 'ПЭК',
            description: '',
            time: '2–3 дня, от 250 ₽'
        }, {
            title: 'Байкал-сервис',
            description: '',
            time: '2–3 дня, от 250 ₽'
        },

    ]

    var payment = [
        {
            title: 'картой онлайн',
            description: 'Оплата картой: Мир, Mastercard, Visa, Maestro',
            icon: 'assets/icons/payment_card.svg'
        },
        {
            title: 'Наличными',
            description: 'Оплата производится наличными деньгами, в момент получения заказа. Подтверждением вашей оплаты является фискальный кассовый чек, вручаемый во время оплаты заказа',
            icon: 'assets/icons/payment_cash.svg'
        },
        {
            title: 'Безналичный расчет',
            description: '',
            icon: ''
        },
    ]

+popup('order', 'order')
    .order__header
        +img(require('assets/icons/logo.svg'))
        button.close-btn(type='button', data-action='close-popup')
    form.order__body(novalidate, data-handler='handler.php')
        .order-step-list
            .order-step
                .order-step__header
                    .order-step__number 1
                    .order-step__title Тип покупателя
                    button.order__autorization-button(type='button') войти в лк
                        .icon.icon-profile
                    button.order-step__change-button(type='button') изменить
                ul.user-type-list.order-step__body
                    li
                        label.user-type Юр. лицо с НДС
                            input.user-type__input(type='radio', name='user-type', value='commerce-nds')
                    li
                        label.user-type Юр. лицо без НДС
                            input.user-type__input(type='radio', name='user-type', value='commerce')
                    li
                        label.user-type Физическое лицо
                            input.user-type__input(type='radio', name='user-type', value='private')
            .order-step
                .order-step__header
                    .order-step__number 2
                    .order-step__title Личные данные
                    button.order-step__change-button изменить
                .order-step__body.user-data
                    .user-data__prefix Осталось заполнить 5 обязательных полей *
                    .user-data__inputs
                        input(type='text', name='name', placeholder='имя', required)
                        input(type='text', name='last-name', placeholder='фамилия', required)
                        input(type='text', name='middle-name', placeholder='отчество', required)
                        input(type='tel', name='tel', placeholder='Телефон', required)
                        input(type='email', name='email', placeholder='Email', required)
                    button.button.button--dark.user-data__button(type='button') далее
                .user-data__final
                    .user-data__final-name(data-input='name')
                    .user-data__final-tel(data-input='tel')
                    .user-data__final-email(data-input='email')
            .order-step
                .order-step__header
                    .order-step__number 3
                    .order-step__title способ доставки
                    button.order-step__change-button изменить
                    .order__location Казань
                        .icon.icon-geo
                ul.order-step__body.delivery-method-list
                    each item in delivery
                        li
                            label.delivery-method
                                input.delivery-method__input(type='radio', name='delivery-method')
                                .delivery-method__title= item.title
                                if item.description
                                    .delivery-method__description= item.description
                                .delivery-method__time= item.time
            .order-step
                .order-step__header
                    .order-step__number 4
                    .order-step__title методы оплаты
                    button.order-step__change-button изменить
                .order-step__body
                    ul.payment-method-list
                        each item in payment
                            li
                                label.payment-method
                                    .payment-method__title= item.title
                                        if item.icon
                                            +img(require(item.icon)).payment-method__icon
                                    if item.description
                                        .payment-method__description= item.description
                                    input.payment-method__input(type='radio', name='payment-method')
                    .payment-method__button.button.button--dark оплатить
                        span 47 000 ₽
        .order__items
