extends layout/page

block append head
    link(href=require('styles/other.styles.scss'), rel='stylesheet')

block append main
    include ui/article-card/article-card

    include ui/breadcrumbs/breadcrumbs
    +breadcrumbs(['Блог', 'Как выбрать идеальный стол для офиса'])
    article.section.article: .container
        .article__top
            h1.article__title.page-title Как выбрать идеальный стол для офиса
            .article__info
                +anchor.article__info-tag #тумбы
                +wrapBreak: time.article__info-date(datetime='2025-10-30') 30 Октября
                +wrapBreak: span.article__info-time 3 мин
            include ui/socials/socials
            +socials.article__socials.socials--dark
        picture.article__image
            +wrapBreak: source(
                srcset=require('assets/content/article/article-mobile-image.jpg'),
                media='(max-width: 1000px)'
            )
            +wrapBreak: source(srcset=require('assets/content/article/article-image.jpg'))
            +img(require("assets/content/article/article-image.jpg"))
        .article__content-wrapper
            include ui/content-toc/content-toc
            .article__content.content.content-with-toc
                h2 Размер: как понять, какие параметры оптимальные
                p Маленькие столы можно разделить на две категории. Совсем узкие, шириной до 80 см, как правило, позиционируются как предназначенные для ноутбуков и обычно бывают мобильными (на колёсах) или складными.
                h3 Подзаголовок
                ul.benefits
                    li Преимущество 1
                    li Преимущество 2
                    li Преимущество 3
                ol
                    li Преимущество 1
                    li Преимущество 2
                    li Преимущество 3
                dl
                    dt Возврат и обмен товара надлежащего качества
                    dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                    dt Возврат и обмен товара надлежащего качества
                    dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                    dt Возврат и обмен товара надлежащего качества
                    dd: p Рефлексия прекрасно вызывает комплекс. Поведенческая терапия, иcходя из того, что просветляет филосовский код. Как отмечает Д. Майерс, у нас есть некоторое чувство конфликта, которое возни. Декаданс заканчивает композиционный мимезис, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни
                h2 Места для хранения: ящики и полки
                p Маленькие столы можно разделить на две категории. Совсем узкие, шириной до 80 см, как правило, позиционируются как предназначенные для ноутбуков и обычно бывают мобильными (на колёсах) или складными.
                +img(require('assets/content/article/article-content-image.jpg'))
                h2 Что ещё учесть при выборе стола: несколько важных мелочей
                p Маленькие столы можно разделить на две категории. Совсем узкие, шириной до 80 см, как правило, позиционируются как предназначенные для ноутбуков и обычно бывают мобильными (на колёсах) или складными.
                div
                    +img(require('assets/content/article/article-content-image-2.jpg'))
                    +img(require('assets/content/article/article-content-image.jpg'))
                blockquote Форма столов, как и размер, влияет на расстановку рабочих мест в офисе.
                h2 Заключение
                p Маленькие столы можно разделить на две категории. Совсем узкие, шириной до 80 см, как правило, позиционируются как предназначенные для ноутбуков и обычно бывают мобильными (на колёсах) или складными.
    include components/slider-section/slider-section
    include ui/article-card/article-card
    +slider-section('Похожие статьи')
        +article-card.swiper-slide
        +article-card.swiper-slide
        +article-card.swiper-slide
        +article-card.swiper-slide

block append popups

block append scripts
    script(src=require('scripts/other.ts'))
