include layout/utils
include features/popup/popup

+popup('send-review', 'send-review')
    .send-review__title.section-title оставить отзыв
    form.send-review__form(novalidate, data-handler='some.php')
        .send-review__form-inputs
            +wrapBreak: input.input.send-review__input(placeholder='Имя*', required, name='name', type='text')
            +wrapBreak: input.input.send-review__input(
                placeholder='фамилия*',
                required,
                name='surname',
                type='text'
            )
            +wrapBreak: input.input.send-review__input(
                placeholder='телефон*',
                required,
                name='tel',
                type='tel'
            )
            +wrapBreak: input.input.send-review__input(placeholder='почта', name='email', type='email')
            +wrapBreak: textarea.textarea.send-review__input(
                required,
                placeholder='ваш отзыв*',
                rows=1,
                wrap='soft'
            )
        .send-review__container
            +wrapBreak: input(type='file', name='file', accept='image/*', multiple)
            .send-review__drop
                .send-review__drop-container
                .send-review__drop-info
                    +wrapBreak: span Добавьте фото нажав на кнопку или же перетащите в эту область
                    +wrapBreak: span до 4 фото в формате PNG, JPEG
                .send-review__drop-files
            .send-review__progress
                .send-review__progress-amount
                    span 0
                    span /04
                .send-review__progress-bar
                    span
        +wrapBreak: button.button.button--dark.send-review__button(type='submit') отправить отзыв
